USE [master]
GO
/****** Object:  Database [Testing]    Script Date: 25.03.2022 15:29:40 ******/
CREATE DATABASE [Testing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Testing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEV\MSSQL\DATA\Testing.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Testing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEV\MSSQL\DATA\Testing_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Testing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Testing]
GO
/****** Object:  Table [dbo].[Employes]    Script Date: 25.03.2022 15:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employes](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployesSkills]    Script Date: 25.03.2022 15:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployesSkills](
	[Id] [uniqueidentifier] NOT NULL,
	[NameOfSkill] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pozition]    Script Date: 25.03.2022 15:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pozition](
	[Id] [uniqueidentifier] NOT NULL,
	[NameOfPozition] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillsEmployesTeams]    Script Date: 25.03.2022 15:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillsEmployesTeams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployesId] [uniqueidentifier] NULL,
	[EmployesSkillsId] [uniqueidentifier] NULL,
	[TeamsId] [uniqueidentifier] NULL,
	[PozitionId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 25.03.2022 15:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [uniqueidentifier] NOT NULL,
	[NameOfTeam] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employes] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[EmployesSkills] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Pozition] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[SkillsEmployesTeams]  WITH CHECK ADD FOREIGN KEY([EmployesId])
REFERENCES [dbo].[Employes] ([Id])
GO
ALTER TABLE [dbo].[SkillsEmployesTeams]  WITH CHECK ADD FOREIGN KEY([EmployesSkillsId])
REFERENCES [dbo].[EmployesSkills] ([Id])
GO
ALTER TABLE [dbo].[SkillsEmployesTeams]  WITH CHECK ADD FOREIGN KEY([PozitionId])
REFERENCES [dbo].[Pozition] ([Id])
GO
ALTER TABLE [dbo].[SkillsEmployesTeams]  WITH CHECK ADD FOREIGN KEY([TeamsId])
REFERENCES [dbo].[Teams] ([Id])
GO
USE [master]
GO
